<div class="modal-dialog modal-send-request">
  <div class="modal-content ventana-modal">
    <div class="modal-header">
      Nueva Solicitud
      <a class="closeButton" (click)="close()">x</a>
    </div>
    <div class="modal-body" style="height: auto">
      <div class="row">
        <div class="col-md-3">
          <div *ngIf="frindSendRequest" class="avatarHome" [ngClass]="{'avatarFrameOffline': true, 
                  'avatarFrameOnLine': frindSendRequest.status === 'online',
                  'avatarFrameAway': frindSendRequest.status === 'away',
                  'avatarFrameBusy': frindSendRequest.status === 'busy'
                  }">
            <img [src]="frindSendRequest.avatar || 'assets/img/generic_avatar.png' ">
          </div>
        </div>

        <div class="col-md-9">
          <b *ngIf="frindSendRequest">{{frindSendRequest.email}}</b>
          <small>&nbsp; Te ha enviado esta solicitud</small>

          <br /><br />
          <div>
            <b>Deseas agregar a esta persona?</b>
            <br />
            <input type="radio" name="addToMsn" [(ngModel)]="shouldAdd" value="yes" id="add-yes">
            <label for="add-yes">Si quiero agregarlo</label>
            <br />
  
            <input type="radio" name="addToMsn" [(ngModel)]="shouldAdd" value="no" id="add-no">
            <label for="add-no">No quiero agregarlo</label>
            <br />
  
            <input type="radio" name="addToMsn" [(ngModel)]="shouldAdd" value="later" id="add-later">
            <label for="add-later">Decido despuees</label>
            <br />
          </div>

        </div>
        <hr />

      </div>
    </div>
    <div class="modal-footer">
      <a class="btn btn-primary" (click)="accept()">Ok</a>
      <a class="btn btn-default" (click)="close()">Cerrar</a>
    </div>
  </div>
</div>